.grid .box {
    border-radius: 7px;
    border: 1px solid #e0e2e3;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.margin-top-30{
	margin-top: 30px;
}

.userFavorited{
    background-color: #47bac1;
}

.userFavorited i {
    color: #fff !important;
}

.cartYes{
    background-color: #47bac1;
}

.cartYes i {
    color: #fff !important;
}

.imageBox .productImage img{
    min-height: 283px;
    height: 200px;
}

.rating{
    cursor: pointer;
}

.homeUserFavorited{
    color: #47bac1 !important;
}