.grid .box {
    border-radius: 7px;
    border: 1px solid #e0e2e3;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.margin-top-30{
	margin-top: 30px;
}

.userFavoriteYes{
    background-color: #47bac1;
}

userFavoriteNo{
    background-color: inherit;
}

.cartYes{
    background-color: #47bac1;
}